{% extends 'base.html' %} {% block title %}
<title>Todo-SignIn</title>
{% endblock %} {% block content %}
<div class="container signin">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card card-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              class="form-control"
              id="username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
            />
          </div>
          <button type="submit" class="btn btn-primary text-center w-100">
            Sign In
          </button>
        </form>
        <a href="{% url 'signup' %}">Dont have an account?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
